.custom_red_bg {
    background-color: #CA0000;
}

.white-opacity-text {
    color: #F1F1F1;
}

.blue-bg-opacity {
    background-color: #0A2640D1;
}

.blue-bg {
    background-color: #0A2640;
}

.grey-text {
    color: #C4C4C4 !important;
}

.footer-colors * {
    color: #C4C4C4 !important;
}