@import url('./fonts.css');
@import url('./colors.css');
@import url('./sizes.css');
@import url('./mediaQuery.css');

body {
    padding: 0;
    margin: 0;
}

* {
    text-transform: none !important;
}
a {
    text-decoration: none;
    font-family: "Roboto", serif;
}
li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-family: "Roboto", serif;
    font-size: 18px;
}

.little_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

p {
    font-family: "Open-Sans", serif;
    font-size: 18px;
}

h1 {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Manrope', serif;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Manrope', serif;
}

.background-truck {
    background-image: url("@/assets/img/fuel-truck-5291980_1920 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-height {
    height: 100vh;
}

.fit_image {
    width: 170px;
    height: 115px;
}

.z-index-down {
    z-index: 0 !important;
}
.z-index-up{
    z-index: 10 !important;
}