@import url('./fonts.css');
@import url('./colors.css');
@import url('./sizes.css');
@import url('./mediaQuery.css');
@import url('./texts.css');

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

* {
    text-transform: none !important;
}

a {
    text-decoration: none;
    font-family: "Roboto", serif;
}

li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-family: "Roboto", serif;
    font-size: 18px;
}

.little_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

p {
    font-family: "Open-Sans", serif;
}

h1 {
    font-weight: 500;
    font-family: 'Manrope', serif;
}

h2 {
    font-weight: 400;
    font-family: 'Manrope', serif;
}

.background-truck {
    background-image: url("@/assets/img/fuel-truck-5291980_1920 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-height {
    height: 100vh;
}

.fit_image {
    width: 170px;
    height: 115px;
}

.fit_image_mobile {
    width: 80px;
    height: 55px;
}

.z-index-down {
    z-index: 0 !important;
}

.z-index-up {
    z-index: 10 !important;
}

.position-relative {
    position: relative;
}

.album-second-image {
    position: absolute;
    bottom: -20%;
    left: 10%;
    width: 250px;
}

.album-first-image {
    height: 550px;
}

.rounded_radius {
    border-radius: 25px;
}

.album-item-hover {
    padding: 20px 0 20px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    cursor: pointer;
    transition: all .4s;
}

.album-item-hover:hover {
    background-color: #0A2640;
}

.album-item-hover:hover p {
    color: white;
}

.VueCarousel-navigation-prev {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    color: #000;
    background-color: #fff !important;
    left: -20px;
    position: absolute !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    outline: none !important;
}

.VueCarousel-navigation-next {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    color: #000;
    background-color: #fff !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    margin-right: 30px;
    outline: none !important;
}

.VueCarousel-navigation-prev:before {
    content: url("@/assets/img/arrow-left.svg");
    padding-top: 10px;
}

.VueCarousel-navigation-next:before {
    content: url("@/assets/img/arrow-right.svg");
    padding-top: 10px;
}


.VueCarousel-navigation--disabled {
    opacity: 1 !important;
}

.VueCarousel-dot {
    outline: none !important;
}

.radius-10 {
    border-radius: 10px;
}


.slider-item-height {
    height: 310px;
    transition: all .4s;
    cursor: pointer;
}

.slider-wrapper-height {
    height: 400px;
}

.profile-title {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}

.profile-caption {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
}

.carousel {
    overflow-x: hidden;
}

.inner {
    transition: transform 0.2s;
}

.v-btn__content {
    font-size: 18px;
}

.rounded-btn {
    border-radius: 15px;
}
