@media only screen and (max-width: 960px) {
    .padding-custom-top {
        padding-top: 0;
    }
    .mobile-custom-top-padding {
        padding-top: 230px;
    }
    .w-md-100 {
        width: 100%;
    }
}