@media only screen and (max-width: 960px) {
    .padding-custom-top {
        padding-top: 0;
    }

    .mobile-custom-top-padding {
        padding-top: 110px;
    }

    .w-md-100 {
        width: 100%;
    }

    .w-md-75 {
        width: 75%;
    }

    .w-md-85 {
        width: 85%;
    }

    .banner-height {
        height: auto !important;
    }

    .album-first-image {
        height: auto !important;
    }

    .left-icon {
        position: absolute !important;
        left: 0;
    }
    .VueCarousel-navigation {
        display: none !important;
    }
    .VueCarousel {
        width: 100% !important;
    }
}

@media only screen and (min-width: 960px) {
    .col-md-22 {
        max-width: 22% !important;
    }

    /*.slider-item-height:hover {*/
    /*    height: 370px;*/
    /*}*/

    .VueCarousel-pagination {
        display: none ;
    }
}